@import '../../../node_modules/bootstrap/scss/variables';
@import "../../../node_modules/bootstrap/scss/functions";
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints';

.weather-deg-container {
    position: relative;
    width: fit-content;
    z-index: 1000;
    .weather-icon {
        position: absolute;
        width: 70%;
        height: auto;
        top: -35px;
        right: -35px;
        z-index: -1;
        @include media-breakpoint-up(sm) {
            top: -35px;
            right: -35px;
        }
        @include media-breakpoint-up(md) {
            top: -42px;
            right: -42px;
        }
        @include media-breakpoint-up(lg) {
            top: -49px;
            right: -49px;
        }
        @include media-breakpoint-up(xl) {
            top: -56px;
            right: -56px;
        }
        @include media-breakpoint-up(xxl) {
            top: -63px;
            right: -63px;
        }
    }
    .weather-deg-text {
        text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.404);
        width: fit-content;
        font-size: 100px;
        @include media-breakpoint-up(sm) {
            font-size: 100px;
        }
        @include media-breakpoint-up(md) {
            font-size: 120px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 140px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 160px;
        }
        @include media-breakpoint-up(xxl) {
            font-size: 180px;
        }
    }
}