@import '../../../node_modules/bootstrap/scss/variables';
@import "../../../node_modules/bootstrap/scss/functions";
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints';

.weather-deg-container {
    position: relative;
    width: fit-content;
    .weather-icon {
        position: absolute;
        right: -80px;
        top: 0;
    }
    .weather-deg-text {
        width: fit-content;
        font-size: 100px;
        @include media-breakpoint-up(sm) {
            font-size: 100px;
        }
        @include media-breakpoint-up(md) {
            font-size: 120px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 140px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 160px;
        }
        @include media-breakpoint-up(xxl) {
            font-size: 180px;
        }
    }
}