@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap/scss/variables';
@import "../../node_modules/bootstrap/scss/functions";
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';
@import './modules/data_holder';
@import './modules/degrees';
@import './modules/location';
@import './modules/map';
@import './mixins/centralize';
@import './modules/langSwitch';
@import './modules/switchesColumn';
@import './modules/weatherData';
@import './modules/refreshWeather';
@import './modules/loading';

$bg: rgb(111, 111, 199);

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.app {
    @include media-breakpoint-up(lg) {
        @include centralize(column);
    }
    &.is-loading {
        display: flex;
        justify-content: center;
    }
    //background-color: $bg;
    height: 100vh;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    position: relative;
}